// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

/* ------- customize primary buttons -------- */
$main_color: #FB6B0A;
$edit_color: #00A6ED;
$statistic_color:  #751aff;

.btn-primary {
  @include button-variant($main_color, $main_color, darken($main_color, 10%), darken($main_color, 10%), lighten($main_color, 10%), darken($main_color, 20%));
}

.btn-info {
  @include button-variant($edit_color, $edit_color, darken($edit_color, 10%), darken($edit_color, 10%), lighten($edit_color, 10%), darken($edit_color, 20%));
}

.btn-statistic {
  @include button-variant($statistic_color, $statistic_color, darken($statistic_color, 10%), darken($statistic_color, 10%), lighten($statistic_color, 10%), darken($statistic_color, 20%));
}

.popover-header {
  background: $main_color;
}

.camppass-orange, .pagination a.active, .page-item.active .page-link {
  background-color: $main_color;
}

a, .pagination a, .page-item.disabled .page-link, .pagination a:hover:not(.active) {
  color: $main_color;
}

#card-border {
  border-color: $main_color;
}