* {
  box-sizing: border-box;
}

*:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  position: relative;
  background-color: whitesmoke;
}

#app {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 120px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  background-color: #FB6B0A;
}

.footer a {
  color: white;
}

#header a {
  color: #4e4a45;
}

.footer a:hover {
  color: #4e4a45;
  text-decoration: none;
}

#header a:hover {
  color: white;
  text-decoration: none;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

label[required]::after {
  content: "*";
  color: red;
}

#header {
  background-color: #FB6B0A;
  color: white;
  padding: 30px 0 30px 0;
}

#card-border {
  border-style: solid;
  border-width: 7px;
  border-color: #FB6B0A;
}

.card {
  background-color: white;
  border: 0;
}

@media (max-width: 992px) {
  .card-columns {
    column-count: 1;
  }
}

.next {
  color: #4e4a45;
}

.prev {
  color: #4e4a45;
}

a {
  color: #FB6B0A;
}

a:hover {
  color: gray;
  text-decoration: none;
}

.btn-primary{color:#fff;background-color:#FB6B0A;border: none;}

.btn-primary:hover{color:#fff;background-color:rgb(252, 132, 52);border: none;}
.btn-primary:focus,.btn-primary.focus{box-shadow:0 0 0 .2rem rgba(90, 54, 0, 0.5)}
.btn-primary.disabled,.btn-primary:disabled{color:#fff;background-color: rgb(255, 157, 92);border: none;}
.btn-primary:not(:disabled):not(.disabled):active,.btn-primary:not(:disabled):not(.disabled).active,.show>.btn-primary.dropdown-toggle{color:#fff;background-color:#00b3b3;border-color:#one}
.btn-primary:not(:disabled):not(.disabled):active:focus,.btn-primary:not(:disabled):not(.disabled).active:focus,.show>.btn-primary.dropdown-toggle:focus{box-shadow:0 0 0 .2rem rgba(0,90,90,0.5)}

