* {
  box-sizing: border-box;
}

*:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  position: relative;
  background-color: whitesmoke;
}

#app {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 120px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  background-color: #FB6B0A;
}

.footer a {
  color: white;
}

#header a {
  color: #4e4a45;
}

.footer a:hover {
  color: #4e4a45;
  text-decoration: none;
}

#header a:hover {
  color: white;
  text-decoration: none;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

label[required]::after {
  content: "*";
  color: red;
}

#header {
  background-color: #FB6B0A;
  color: white;
  padding: 30px 0 30px 0;
}

#card-border {
  border-style: solid;
  border-width: 7px;
  border-color: #FB6B0A;
}

.card {
  background-color: white;
  border: 0;
}

@media (max-width: 992px) {
  .card-columns {
    column-count: 1;
  }
}

.next {
  color: #4e4a45;
}

.prev {
  color: #4e4a45;
}

a:hover {
  color: gray;
}

.btn-primary {
  background-color: #FB6B0A;
  color: white;
  border: 0;
}

#btn-primary a:hover {
  background-color:black;
  color: white;
} 