@font-face {
  font-family: dbsathornnow;
  src: url('/fonts/DBSathornNowBold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: dbsathornnow;
  src: url('/fonts/DBSathornNowMed.ttf');
  font-weight: 600;
}

@font-face {
  font-family: dbsathornnow;
  src: url('/fonts/DBSathornNow.ttf');
  font-weight: normal;
}

* {
  font-family: dbsathornnow;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

#side .nav-link.active, #side .nav-link:hover, #side .nav-link:focus {
  color: #111;
  background-color: lightsalmon;
}

h1, h2, h3, h4 {
  font-weight: 700;
}

h5, h6 {
  font-weight: 600;
}

html, body {
  background-color: whitesmoke;
}

body, #app {
  min-height: 100vh;
}

.navbar {
  background-color: white
}

#sidenav {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 100vh;
}

@media (min-width: 992px) {
  #sidenav {
      flex-wrap: nowrap;
  }
}

main {
  flex: 1;
}

footer {
  color: white;
  background-color: #FB6B0A;
}

a {
  color: #FB6B0A;
}

.footer a {
  color: white;
}

#header a {
  color: #4e4a45;
}

.footer a:hover {
  color: #4e4a45;
  text-decoration: none;
}

#header a:hover {
  color: white;
  text-decoration: none;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

label[required]::after {
  content: "*";
  color: red;
}

#header {
  background-color: #FB6B0A;
  color: white;
  padding: 30px 0 30px 0;
}

#card-border {
  border-style: solid;
  border-width: 7px;
  border-color: #FB6B0A;
}

.card {
  background-color: white;
  border: 0;
}

.card-with-shadow:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)

}

@media (max-width: 992px) {
  .card-columns {
    column-count: 1;
  }
}

.next {
  color: #4e4a45;
}

.prev {
  color: #4e4a45;
}

a:hover {
  color: gray;
  text-decoration: none;
}

.table td, .table th {
  vertical-align: middle !important;
  padding-top: 0.35rem !important;
  padding-bottom: 0.35rem !important;
}

.table td.fit, .table th {
  white-space: nowrap;
  width: 1%;
}

.text-truncate-450 {
  max-width: 450px !important;
}

.download-btn {
  background-color: yellowgreen;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

.download-btn:hover {
  background-color: gray;
}

.fa-fr {
  margin-right: 5px;
}

.fa-fl {
  margin-left: 5px;
}